<p *ngIf="isLoading">Loading...</p>

<div class="form">
    <form [formGroup]="FG">
        <div>
            <label>ID</label>
            <input type="text" formControlName="id">
        </div>
        <div>
            <label>Name:</label>
            <input type="text" formControlName="name">
        </div>
        <div>
            <label>Type:</label>
            <input type="text" formControlName="roomType">
        </div>
    </form>
    <button (click)="onSubmit()">Submit</button>
</div>

